@model Adneom.CoffeMachine.Domain.Entities.ServiceMachine

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ServiceMachine</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuantiteSucre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuantiteSucre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AvecMug)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AvecMug)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Machine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Machine.Nom)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Operateur)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Operateur.Operateur)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeBoisson)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeBoisson.TypeBoisson1)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
