@model IEnumerable<Adneom.CoffeMachine.Domain.Entities.ServiceMachine>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantiteSucre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvecMug)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Machine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Operateur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeBoisson)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantiteSucre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvecMug)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Machine.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operateur.Operateur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeBoisson.TypeBoisson1)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
